<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<!-- 	<h1>10 Minutes</h1> -->

	<div class="intro">You've got 5 bucks. What can you get on <span style="color: red">e</span><span style="color: blue">B</span><span style="color:yellow">a</span><span style="color:green">y</span> right now?</div>


</body>
</html>