<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <h1><img class ="landinglogo" src="/assets/podium.png"></h1>

  <div class="intro">You've got 10 bucks.<br> What can you get on <span style="color: red">e</span><span style="color: blue">B</span><span style="color:yellow">a</span><span style="color:green">y</span> in the next 10 minutes?</div><br><br>
  
  <div class="button">
 <%= link_to "Going once...", wclothing_path, class: "btn btn-lg btn-default" %>
</div>

</body>
</html>