<div class="container-fluid">	
	<div class="row">
	  <div class="col-md-8"><img class ="podium" src="/assets/podium.png">...or choose a category:</div>
	  <div class="col-md-4" style="background: url(http://cdn.sheknows.com/articles/crave/closet-clothes-donate-600.jpg)">Women's Fashion</div>
	</div>
	<div class="row">
	   <div class="col-md-4" style="background: url(http://www.downtownclothingcompany.com/sites/default/themes/dcc/images/mens.jpg)">Men's Fashion</div>
	  <div class="col-md-4" style="background: url(http://www.outerbanks.com/img//content/clothing-hero-02.jpg)">Jeans</div> 
	  <div class="col-md-4" style="background: url(http://i5.cdnds.net/14/08/450x450/two-handbags-trend-tan-clutch-and-shoulder-bag-from-aigner-milna-fashion-week-autumn-winter-2014-handbag-trends.jpg)">Handbags</div>
	</div>
	<div class="row">
	  <div class="col-md-4" style="background: url(http://blogs-images.forbes.com/antonyleather/files/2014/09/iphone-61.jpg) center">Technology</div>
	  <div class="col-md-4" style="background: url(http://www.bookpromotionhub.com/wp-content/uploads/2015/01/book-promotion-blurb.jpg)">Books</div>
	  <div class="col-md-4" style="background: url(https://gardens.duke.edu/sites/default/files/styles/node-primary/public/DDCG-3739-SR-ws.jpg?itok=53qgeCi0)">Home and Garden</div>
	</div>
	<div class="row">
	  <div class="col-md-4" style="background: url(http://primemag.me/wp-content/uploads/2014/08/modern-art.jpg)">Art</div>
	  <div class="col-md-4" style="background: url(http://www.theepochtimes.com/n2/images/stories/large/2011/04/03/Sportsfans_111492056_2.jpg)">Sporting Goods</div>
	  <div class="col-md-4" style="background: url(http://www.extremetech.com/wp-content/uploads/2013/09/4Vln8-640x428.jpg) center">Pet Supplies</div>
	</div>
	<div class="row">
	  <div class="col-md-4">.col-md-4</div>
	  <div class="col-md-4">.col-md-4</div>
	  <div class="col-md-4">.col-md-4</div>
	</div>
</div>